<h1>SIGNUP CONFIRMATION PAGE</h1> <br><br>
<strong> You have signed up for: </strong><%= @signup.event.title.upcase  %>
<strong> At the following time slot: </strong><%= @signup.time %>
<strong> For this many people: </strong><%= @signup.number_of_people %>
<% %>