<h1><%= @event.title %></h1>
<br>
<br>
<h3>Max People: <%= @event.max_people %></h3>
<br>
<h3>Description: <%= @event.description %></h3>
<br>
<h3><%= link_to "Sign Up Here!", new_signup_path %> </h3>

  