/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     
    background-color: rgba(59, 59, 59, 0.4);
    
    

  }
 
 

 
 

   
    .banner {
      width: 60%;
      height: 250px;
      line-height: 200px;
      text-align: center;
      background-image: url('banner.png');
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0px auto;
    }
 
    #banner-header {
     margin: 0px;
     font-size: 5em;
     color: transparent;
     -webkit-text-stroke: 2px rgb(244, 247, 248);
     /* line-height: 200px; */
   }
  
   
   
    .nav {
     background-color: rgba(179, 176, 179, 0.8);
     
     height: 30px;
     width: 90%;
     margin: 0px auto;
     padding: 0px;
   }
   
    .nav li {
      /* border: 1px solid rgb(247, 244, 244); */
      display: inline-block;
      line-height: 30px;
      padding: 0px 15px;
      margin: 0px;
   
    }
   
    .nav li:hover {
      background-color: rgba(70, 67, 67, 0.4);
      transition: 0.5s;
    }
   
    .nav li a {
     text-decoration: none;
     color: rgb(26, 25, 25);
     font-weight: 800;
   }
   
   
   .right {
     float: right;
   }
 
  
 
 .container {
   margin: 5px auto;
   max-width: 87%;
   background-color: rgba(31, 30, 30, 0.4);
   padding: 10px;
   border-radius: 25px;
   height: 100%;

 }
 
 
 
 .form-container {
   max-width: 300px;
   margin: 0px auto;
   background-color: rgba(92, 169, 199, 0.2);
   padding: 20px;
   border-radius: 25px;
   text-align: center;
   color: white;
 }


 
 /* .form-btn {
   background-color: rgb(250, 249, 250);
   margin-top: 10px;
   border-radius: 25px;
 } */
 
 .form-input {
   margin-top: 10px;
 }
 
 
   
/*  
  .index-container {
   max-height: 100vh;
   overflow: scroll;
   display: flex;
   flex-flow: row wrap;
   background-color: rgba(141, 144, 145, 0.4);
   padding: 0px 10px 0px 10px;
   margin: 0px auto;
   border-radius: 25px; 
   justify-content: space-evenly;
 } */
 
 .index-tile {
   background-color: rgba(235, 231, 236, 0.2);
   text-align: center;
   padding: 10px;
   margin: 10px;
   border-radius: 25px; 
   font-weight: bolder;
   color: rgb(226, 218, 218);
 }

 .index-tile a {
  color: rgb(92, 167, 175);
}
 
 .index-tile:hover {
   border: 3px solid rgb(135, 224, 240); 
   background-color: rgba(76, 206, 238, 0.2);
 }

 a {
  color: rgb(246, 246, 250);
}

.events_show {
  color: white;
}

.signups_new {
  color: white;
}

.signups_show {
  color: white;
}
 
 /* .index-tile h3 a {
   text-decoration: none;
   color: rgb(20, 20, 20);
   font-weight: 1200;
 }
 
 .index-img {
   max-width: 150px;
 }
 .show-img {
   max-width: 250px;
 }
 
 .index-tile a {
   text-decoration: none;
 }
 
 
 .show-container {
   background-color: rgba(51, 50, 50, 0.4);
   padding: 10px;
   border-radius: 25px;
   
 } */

    
 

