// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    // background-image: url('background.jpeg');
    background-size: 1300px;
    font-weight: 300;
  }
  
  a {
    text-decoration: none;
  }
  
  .app-cont {
    max-width: 1080px;
    margin: 0 auto;
  }
  
  .app-cont-thin {
    max-width: 650px;
    background: #fff;
    padding: 1em 0;
    border-radius: 3px;
  }







  